:root {
    --art_title-color: white;
    --off_white-color: whitesmoke;
    --photography_color: #090909;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth;
    height: 100%;
  }
  
  
  body {
    height: 100%;
    line-height: 1.2;
    font-family: "Tajawal", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
      sans-serif;
    background: rgb(19, 19, 19);
  }
  
  nav {
    background-color: rgba(0, 0, 9.1, 0.1);
    width: 100%;
    height: 80px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1.4s ease;
    margin-bottom: 1rem;
    z-index: 99;
  }
  
  nav ul li a {
    font-weight: 100;
    color: var(--off_white-color);
    font-size: 1.3rem;
    padding: 0.5rem 0.9rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 30px;
    margin: 1.1rem 6.4rem;
    padding: 0 6.1rem;
  }
  
  nav ul li a:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
  }
  
  nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  label #btn,
  label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  .main-title {
    color: var(--off_white-color);
    font-weight: 300;
    margin-top: 3.8rem;
    padding-left: 0.9rem;
  }
  
  #page_title {
    font-size: 4rem;
    font-weight: 300;
  }
  .typewrite {
    display: inline;
    font-size: 4rem;
    font-weight: 300;
  }
  
  .photo-grid {
    display: grid;
    gap: 0.8rem;
    padding: 0 0.8rem;
    margin-top: 0.6rem;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    grid-auto-rows: 390px;
  }
  
  @media screen and (min-width: 300px) {

  
    #card {
      grid-row: span 2 / auto;
      
    }
  
    #pav-gardens {
      grid-row: span 2 / auto;
    }
  
    /* #london-card {
      grid-row: span 3 / auto;
      align-items:center;
    } */
  
    #card2 {
      grid-row: span 2 / auto;
    }
  
    #card3 {
      grid-row: span 2 / auto;
    }
  
    #card4 {
      grid-row: span 2 / auto;
    }
  
    .card-tall {
      grid-row: span 1 / auto;
    }
  
    .card-wide {
      grid-column: span 1 / auto;
    }
  
    .card-wider {
      grid-column: span 3 / auto;
    }
  }
  
  @media screen and (min-width: 600px) {

    /* .photo-grid {
      padding: 0 9rem;

    } */

    .card-tall {
      grid-row: span 2 / auto;
    }
  
    .card-wide {
      grid-column: span 2 / auto;
    }
  
   
  }
  
  @media (min-width: 1024px) {
    nav ul li a {
      font-size: 0.9rem;
    }
  
  }
  
  @media (max-width: 1117px) {
  
    .main-title {
      display: none;
      color: var(--off_white-color);
      font-weight: 300;
      margin-top: 6rem;
      padding-left: none;
    }
    
    #page_title {
      font-size: 1.1rem;
      font-weight: 400;
    }
    .typewrite {
      display: inline-block;
      font-size: 1.1rem;
      font-weight: 400;
    }
  
  
    label #btn {
      display: block;
    }
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: var(--photography_color);
      top: 55px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
    nav ul li {
      display: block;
      line-height: 30px;
      margin: 1.1rem 3.9rem;
      padding: 0 6.1rem;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  
    #check:checked ~ label #btn {
      display: none;
    }
  
    #check:checked ~ label #cancel {
      display: block;
    }
  }
  
  @media (min-width: 1118px) {
    nav ul li {
      margin: 0.1rem 7.4rem;
      padding: 0.7rem 0.8rem;
    }
  }
  
  @media (min-width: 1280px) {
    nav ul li {
      margin: 0.1rem 7.4rem;
      padding: 0.7rem 2.8rem;
    }
  }
  
  @media (min-width: 1440px) {
    nav ul li {
      margin: 0 7rem;
      padding: 0.7rem 3.9rem;
    }
  }
  
  @media (min-width: 1536px) {
    nav ul li {
      margin: 0.5rem 9.2rem;
      padding: 0.6rem 3.8rem;
    }
  }
  
  @media (min-width: 1920px) {
    nav ul li {
      margin: 0.3rem 8.2rem;
      padding: 1.1rem 7rem;
    }
  
    .main-title {
      color: var(--off_white-color);
      font-weight: 300;
      margin-top: 6rem;
      padding-left: 0.9rem;
    }
    
    #page_title {
      font-size: 4rem;
      font-weight: 300;
    }
    .typewrite {
      display: inline;
      font-size: 4rem;
      font-weight: 300;
    }
  }
  
  @media (min-width: 2000px) {
    nav {
      height: 8vh;
    }
    nav ul li {
      margin: 0rem 10.1rem;
      padding: 1.9rem 6.5rem;
    }
    nav ul li a {
      font-size: 1.1rem;
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (min-width: 2500px) {
    nav ul li {
      margin: 2rem 14rem;
      padding: 0.9rem 5.9rem;
    }
    nav ul li a {
      font-size: 1.9rem;
      display: flex;
      flex-direction: column;
    }
  }
  