:root {
  --transition: all 300ms ease-in-out;
  --dark-color: black;
  --light-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.9;
  font-family: "Tajawal", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
}

/* Navbar Styles */

#art_title {
  padding-left: 20px;
  font-size: 2rem;
  font-weight: 300;
  text-align: center; /* Center the text horizontally */
  /* margin-bottom: 2rem; */
  margin: auto 0;
  /* position: relative;  */
  /* bottom: 0;  */
  color: white;
  z-index: 1;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

a {
  text-decoration: none;
  color: var(--light-color);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
  background-color: black;
  margin-top: 0px;
}

.navbar-links ul {
  display: flex;
  gap: 500px;
  padding: 1rem;
  margin-left: 25px;
}

.navbar-links ul li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
}

.navbar- ul li a:hover {
  color: aqua;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* End of NavBar */

/* Header Background*/

.vh-100 {
  min-height: 100vh;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

#header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("/images/faces/Taboo.jpg") center/cover no-repeat fixed;
  background-size: cover;
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; 
  align-items: center; */
  /* color: var(--light-color); */
}

.header.container {
  width: 100%;
}
/* .header.container h1 {
  margin-bottom: 100;
  margin-top: 100px;
  font-weight: 100;
} */

/* .header.container h3 {
  font-weight: 300;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--light-color);
} */

/* End of Header */

/* 
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background 0.3s ease-in-out;
  z-index: 1000;
}

.nav-container.scroll {
  background: rgba(255, 255, 255, 1);
}





#navbar ul li h1 {
  margin: 0;
  margin-top: 30px;
} */

/* End of Nav Section */



.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
}

/* h1 {
  margin-top: 0;
  line-height: 1.3;
  margin-bottom: 2rem var(--dark-color);
} */

/* Home Section */

.photo-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: 550px;
}

.photo-container {
  padding: 2rem 2rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #090909;
}

img {
  width: 100%;
  display: block;
}

.photo-background-img {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 80%;
  display: block;
}



.photo-link-image {
  position: relative;
  width: 25%;
  height: 20%;
}

.photo-container .photo-item-inner img {
  display: block;
  transform: scale(0.8);
  transition: all 0.8s ease;
}

.photo-container .photo-item-inner:hover img {
  filter: grayscale(100%);
  transform: scale(1.2);
}

.photo-container .photo-item-inner .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: flex-end;
  transition: all 0.5s ease;
  opacity: 0;
}

.photo-container .photo-item-inner:hover .overlay {
  opacity: 2;
}

.photo-link-image h1 {
  font-size: 35px;
  line-height: 1;
  position: absolute;
  top: 50%; /* Vertically center the text */
  left: 50%; /* Horizontally center the text */
  transform: translate(-50%, -120%);
  color: white; /* Set the text color */
  padding: 10px 20px; /* padding for better visibility */
  z-index: 2; /* Place the text above the image */
}

/* End of Home Section */

/* Video Section */

.video-container {
  background-color: black;
  position: relative;
  /* max-height: 80vh; */
}


.video-background {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

.video-container .video-background .youtube {
  position: absolute;
  z-index: 2;
}

.video-container .video-background .video {
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 650px;
}

.video-section .video-background img {
  filter: grayscale(100%);
  height: 100vh;
  width: 80%;
}




/* End of Video Section */

/* Social Links Section */
.social-area {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 100%;
  padding: 20px 0; /* Add padding for spacing */
}

.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-links li {
  margin-right: 20px; /* Adjust spacing between social icons as needed */
}

.social-links li a i {
  font-size: 50px;
  color: white;
}


.social-links li a:hover {
  opacity: 1.9;
}

/* @media (min-width: 700px) {

  .header.container h1 {
    font-size: 7rem;
  }

  .video-container .video-background .video {
    width: 350px;
  }
} */

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }

  .video-container .video-background .video {
    width: 350px;
  }
}

@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }

  .navbar-links ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-left: 5px;
  }

  .vh-100 {
    min-height: 60vh;
  }

  #header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url("/images/faces/Taboo.jpg") center/cover no-repeat fixed;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  #art_title {
    font-size: 0.8rem;
    font-weight: 200;
    text-align: center;
    bottom: 500px;
  }

  .photo-background-img {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 40vh;
  }

  .photo-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    z-index: 2;
    gap: 550px;
    height: 100%;
  }

  .photo-link-image {
    position: relative;
    width: 25%;
    height: 20%;
  }

  .photo-container .photo-item-inner img {
    display: none;
  }

  .photo-link-image h1 {
    font-size: 35px;
    line-height: 0.1;
    margin-top: 110px;
    color: white;
    padding: 10px 20px;
  }

  .photo-container .photo-item-inner .overlay {
    opacity: 100;
  }

  .video-container {
    /* width: 100%; */
    height: 40vh;
  }

  .video-section .video-background img {
    filter: grayscale(100%);
    height: 40vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .video-container .video-background .video {
    width: 250px;
  }

  .social-links li a {
    display: none;
  }
}

@media (max-width: 1400px) {
  .navbar-links ul {
    list-style-type: none;
    display: flex;
    gap: 900px;
    margin-left: 15px;
  }

  /* .video-container .video-background .video {
    width: 90px;
  } */

  .video-section .video-background img {
    filter: grayscale(100%);
    height: 99vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .video-container {
    /* width: 100%; */
    height: 40vh;
  }
  .social-links li a {
    display: none;
  }

  /* #navbar ul {
    list-style-type: none;
    display: flex;
    gap: 900px;
    margin-left: 110px;
  } */
}


@media (min-width: 1950px) {
  .navbar-links ul {
    list-style-type: none;
    display: flex;
    gap: 1090px;
    margin-left: 15px;
  }

  .video-container .video-background .video {
    width: 950px;
  }

  .video-section .video-background img {
    filter: grayscale(100%);
    height: 99vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .video-container {
    /* width: 100%; */
    height: 40vh;
  }
  .social-links li a {
    display: none;
  }

  /* #navbar ul {
    list-style-type: none;
    display: flex;
    gap: 900px;
    margin-left: 110px;
  } */
}
