* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.2;
  font-family: "Tajawal", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
}

/* Home Section*/
/* NavBar */
nav {
  /* color: rgba(255, 0, 0, 0.5); */
  background-color: rgba(0, 0, 0, 0.1);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 1.4s ease;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 9rem;
  padding-right: 2.3rem;
}
nav ul li a {
  color: white;
  font-size: 1.3rem;
  padding: 0.5rem 0.9rem;
  border-radius: 8px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: transparent;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* End of NavBar */

/* Home Section Background*/
#home-section {
  background: url("/images/faces/Taboo.jpg") center/cover no-repeat fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* .main-title{
  display: inline-block;
} */

.main-title {
  margin-bottom: 550px;
  margin-right: 100px;
  color: white;
}

.typewrite {
  display: inline-block;
  font-size: 3.8rem;
}

#art_title {
  margin-top: 40px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  font-size: 3.8rem;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  color: white;
}

/* End of Home Section Backround */

/* End of Home Section */
/* **************************************** */

/* Photography Section */

/* Photography Background */

img {
  width: 100%;
  display: block;
}

#photo-background-img {
  margin: 0 auto;
  display: flex;
  /* display: block; */
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
  width: 70%;
  height: 100vh;
}

.photo-container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #090909;
  /* background-color: pink; */
}

.photo-link-image {
  position: relative;
  width: 25%;
  height: 20%;
}

.photo-section {
  position: absolute;
  top: 140%;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
  gap: 600px;
}

/* photo expand section */
.photo-container .photo-item-inner img {
  display: block;
  transform: scale(0.8);
  transition: all 0.8s ease;
}

.photo-container .photo-item-inner:hover img {
  filter: grayscale(100%);
  transform: scale(1.2);
}

.photo-container .photo-item-inner .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: flex-end;
  transition: all 0.5s ease;
  opacity: 0;
}

.photo-container .photo-item-inner:hover .overlay {
  opacity: 2;
}

.photo-link-image h1 {
  font-size: 35px;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  color: white;
  padding: 10px 20px;
  z-index: 2;
}

/* End of Photography Section */

/* Video Section */

.video-container {
  background-color: black;
  /* position: relative; */
  /* max-height: 80vh; */
}

.video-background {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

.video-container .video-background .youtube {
  position: absolute;
  z-index: 2;
}

.video-container .video-background .video {
  position: absolute;
  /* z-index: 1; */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 650px;
}

.video-section .video-background img {
  /* filter: grayscale(100%); */
  height: 100vh;
  width: 80%;
}

/* End of Video Section */

/* Screen Sizes */

@media (max-width: 700px) {

  .photo-container{
    /* background-color:#090909 ; */
    /* gap: -400px; */
    background-color: pink;
    
  }

  .photo-section {
    /* position: static; */
    flex-direction: column;
    gap: 890px;
    align-items: center;
    text-align: center;
    /* line-height: 1.2; */
    /* height: 100vh; */
    /* background-color: pink; */
  }

  #photo-background-img {
    margin: 0 auto;
    display: flex;
    /* display: block; */
    align-items: center;
    justify-content: center;
    /* z-index: 1; */
    width: 90%;
    height: 100vh;
  }

  /* .photo-container .photo-item-inner .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: flex-end;

  } */

  .photo-link-image {
    /* position: relative; */
    width: 85%;
    height: 10vh;
    margin-top: -360px;
    gap: 300px;
  }

  .photo-container .photo-item-inner img {
    /* display: none; */
    /* transform: translate(10, -100%); */
    /* margin-bottom: 400px;  */
  }

  .photo-container .photo-item-inner:hover img {
    filter: grayscale(100%);
    transform: scale(1);
  }
  
  .photo-link-image h1 {
    font-size: 40px;
    font-weight: 500;

    margin-top: 50px;
    /* margin-top: 400px;
    margin-left: 150px; */
    /* justify-content: center; */
    color: white;
    /* text-align: center; */
    /* gap: 400px; */
    /* padding: 10px 20px; */
  }

  .photo-container .photo-item-inner .overlay {
    opacity: 80;
  }
}

@media (max-width: 952px) {
  /* NavBar */
  nav ul li a {
    font-size: 26px;
  }
  /* End of NavBar */
}

@media (max-width: 1366px) {
  /* NavBar */
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #28282b;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    padding: 10px 0px;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
  /* End of NavBar */

  .main-title {
    margin-bottom: 600px;
    margin-right: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .typewrite {
    display: inline-block;
    font-size: 2.8rem;
  }

  #art_title {
    margin-top: 40px;

    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    color: white;
  }
}

@media (min-width: 2000px) {
  /* NavBar */
  nav ul li {
    margin: 0 11rem;
    padding: 0 4rem;
  }
  /* End of NavBar */
}

@media (max-width: 1366px) {
  /* NavBar */
  nav ul li {
    margin: 0 6rem;
    padding: 0 8rem;
  }
  /* End of NavBar */
}

@media (min-width: 1566px) {
  /* NavBar */
  nav ul li {
    margin: 0 6rem;
    padding: 0 8rem;
  }

  /* End of NavBar */

  /* #home-section {
    background: url("/images/faces/Taboo.jpg") center/cover no-repeat fixed;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  } */

  .main-title {
    margin-bottom: 700px;
    margin-right: 100px;
  }
}
