:root {
  --transition: all 300ms ease-in-out;
  --dark-color: black;
  --light-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.9;
  font-family: "Tajawal", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

/* Navbar Styles */
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background 0.3s ease-in-out;
  z-index: 1000;
}

.nav-container.scroll {
  background: rgba(255, 255, 255, 1);
}

#navbar ul {
  list-style-type: none;
  display: flex;
  gap: 400px;
  margin-left: 110px;
}

#navbar ul li {
  display: inline;
  margin-right: 20px;
  color: black;
}

#navbar ul li a {
  text-decoration: none;
  color: var(--light-color);
  font-size: 1.2rem;
}

#navbar ul li h1 {
  margin: 0;
  margin-top: 30px;
}

/* End of Nav Section */

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
}

.vh-100 {
  min-height: 100vh;
}

h1 {
  margin-top: 0;
  line-height: 1.3;
  margin-bottom: 2rem var(--dark-color);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header */
#header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("/images/faces/Taboo.jpg") center/cover no-repeat fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Push content to the bottom */
  align-items: center; /* Center horizontally */
  color: var(--light-color);
}

#art_title {
  font-size: 4.1rem;
  font-weight: 200;
  text-align: center; /* Center the text horizontally */
  /* margin-bottom: 2rem; */
  margin: auto 0;
  position: absolute; /* Position absolutely within the header */
  bottom: 0; /* Stick to the bottom */
}

.header.container {
  width: 100%;
}
.header.container h1 {
  margin-bottom: 0;
  font-weight: 100;
}

.header.container h3 {
  font-weight: 300;
  margin-bottom: 0;
  text-transform: uppercase;
  /* color: var(--light-color); */
}

/* End of Header */

/* Home Section */

.photo-container {
  padding: 2rem 2rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #090909;
}

.background-img {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 80%;
}

.photo-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: 550px;
}

.photo-image {
  position: relative;
  width: 25%;
  height: 20%;
}

.photo-container .photo-item-inner img {
  display: block;
  transform: scale(0.8);
  transition: all 0.8s ease;
}

.photo-container .photo-item-inner:hover img {
  filter: grayscale(100%);
  transform: scale(1.2);
}

.photo-container .photo-item-inner .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: flex-end;
  transition: all 0.5s ease;
  opacity: 0;
}

.photo-container .photo-item-inner:hover .overlay {
  opacity: 2;
}

.photo-image h1 {
  font-size: 35px;
  line-height: 1;
  position: absolute;
  top: 50%; /* Vertically center the text */
  left: 50%; /* Horizontally center the text */
  transform: translate(-50%, -120%);
  color: white; /* Set the text color */
  padding: 10px 20px; /* padding for better visibility */
  z-index: 2; /* Place the text above the image */
}

/* End of Home Section */

/* Video Section */

.video-container {
  background-color: black;
  /* max-height: 80vh; */
}

.video-container .video-background .video {
  width: 950px;
}

.video-background {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

.video-container .video-background .youtube {
  position: absolute;
  z-index: 2;
}

.video-container .video-background .video {
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.video-section .video-background img {
  filter: grayscale(100%);
  height: 100vh;
  width: 70%;
}

.video-section {
  position: relative;
}

.video-container {
  position: relative;
}

.video-background {
  position: relative;
}

/* End of Video Section */

/* Social Links Section */
.social-area {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 100%;
  padding: 20px 0; /* Add padding for spacing */
}

.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-links li {
  margin-right: 20px; /* Adjust spacing between social icons as needed */
}

.social-links li a i {
  font-size: 40px;
  color: white;
}

.social-links li a {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-radius: 0.3rem;
  transition: var(--transition);
  text-align: center;
}

.social-links li a:hover {
  opacity: 1.9;
}

@media (min-width: 700px) {
  #navbar ul {
    list-style-type: none;
    display: inline-block;
    gap: 5px;
    margin-left: 20px;
  }
  .header.container h1 {
    font-size: 7rem;
  }

  .video-container .video-background .video {
    width: 350px;
  }
}

@media (max-width: 600px) {
  #navbar ul {
    list-style-type: none;
    display: inline-block;
    gap: 5px;
    margin-left: 20px;
  }

  .vh-100 {
    min-height: 60vh;
  }

  #header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url("/images/faces/Taboo.jpg") center/cover no-repeat fixed;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  #art_title {
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    bottom: 500px;
  }

  .background-img {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 40vh;
  }

  .photo-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    z-index: 2;
    gap: 550px;
    height: 100%;
  }

  .photo-image {
    position: relative;
    width: 25%;
    height: 20%;
  }

  .photo-container .photo-item-inner img {
    display: none;
  }

  .photo-image h1 {
    font-size: 35px;
    line-height: 0.1;
    margin-top: 110px;
    color: white;
    padding: 10px 20px;
  }

  .photo-container .photo-item-inner .overlay {
    opacity: 100;
  }

  .video-container {
    /* width: 100%; */
    height: 40vh;
  }

  .video-section .video-background img {
    filter: grayscale(100%);
    height: 40vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .video-container .video-background .video {
    width: 250px;
  }

  .social-links li a {
    display: none;
  }
}

@media (min-width: 1500px) {
  #navbar ul {
    list-style-type: none;
    display: flex;
    gap: 900px;
    margin-left: 110px;
  }
}
